<p>
  <b>Event name:</b>
  <%=h @event.event_name %>
</p>

<p>
  <b>Venue name:</b>
  <%=h @event.venue_name %>
</p>

<p>
  <b>Event time:</b>
  <%=h @event.event_time %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>